button {
  width: 160px;
  height: 50px;
  border: 1px solid darkred;
  border-radius: 10px;
  color: darkred;
  font-size: 14px;
  background-color: orange;
  margin-top: -70px;
  margin-bottom: -90px;
  
}
.button:hover{
  box-shadow: 3px 3px 6px orangered;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 500px) {
  .button{
    width: 130px;
    height: 40px;
    font-size: 12px;
  }
}

